* { /* 전체 지정자 */
    margin:0; /* 기본 마진 없애기 */
    padding:0; /* 기본 패딩 없애기 */
    box-sizing: border-box; /* border 사이즈를 지정한 만큼만 지정 */
}
#href{
    text-decoration: none;
    color:black;
}
#href:hover{
    color:rgba(0, 100, 255, 1);
}
#hreflogo{
    text-decoration: none;
    color:rgba(0, 100, 255, 1);
}
/*head*/
.head{
    display:flex;
    flex-direction: column;
    align-items: start;
    width:100vw;
    height: 20vh;
    margin-top:15px;
}
#box1{
    font-size:1.3vw;
    width:95vw;
    height:7vh;
    margin-left:50px;
}
#box2{
    font-size:1.3vw;
    width:55vw;
    height:7vh;
}
.logobox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color:rgba(0, 100, 255, 1);
    font-size:4vw;
    font-family: serif;
}
.logo img {
    width:14vw;
    height:20vh;
}

.btn-boxmom{
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 5vh;
}
#btn-box{
    display: flex;
    align-items: center;
    width:8vw;
    height: 5vh;
}
.menubar{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.menu_img{
    width:2vw;
    height: 2vw;
}
#menu-box{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width:8vw;
    height:5vh;
}

/*main*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select {
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    margin: 4vh 0px;
}
select {
    width: 8vw;
    height: 1.5vw;
    font-size: 1vw;
    text-align: center;
}
.select input {
    margin: 0px 0px 0px 4vw;
}
input[type="radio"] {
    width: 1.2vw;
    height: 1.2vw;
}


.contents {
    display: flex;
    flex-direction: row;
}

.ads {
    display: flex;
    flex-direction: column;
}
.ad {
    width: 15vw;
    height: 65vh;
    background-color: #0064FF;
    margin: 0px 8vh 2vh 0px;
}

.listBoxs {
    width: 60vw;
    height: 65vh;
    border: 0.5px solid #202632;
    border-radius: 2vw;
    overflow-y: auto;
}

.title {
    font-size: 1.5vw;
}

.listBox {
    margin: 2vw;
    padding: 1vw;
    font-size: 1vw;
    border-bottom: 0.5px solid #202632;
}
.info {
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}