*{
    margin:0;
    padding:0;
}
.mom{
    display: flex;
    flex-direction: column;
    width:100vw;
    height: 100vh;
    align-items: center;
}
h1{
    font-family: serif;
}
#href{
    text-decoration: none;
    color:black;
}
#hreflogo{
    text-decoration: none;
    color:rgba(0, 100, 255, 1);
}
#href:hover{
    color:rgba(0, 100, 255, 1);
}
h4{
    color:#888;
    margin-bottom: 40px;
}
/*head*/
.head{
    display:flex;
    flex-direction: column;
    align-items: start;
    width:100vw;
    height: 20vh;
    margin-top:15px;
}
#box1{
    font-size:1.3vw;
    width:95vw;
    height:7vh;
    margin-left:50px;
}
#box2{
    font-size:1.3vw;
    width:55vw;
    height:7vh;
}
.logobox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color:rgba(0, 100, 255, 1);
    font-size:4vw;
    font-family: serif;
}
.btn-boxmom{
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 5vh;
}
#btn-box{
    display: flex;
    align-items: center;
    width:8vw;
    height: 5vh;
}
.menubar{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.menu_img{
    width:2vw;
    height: 2vw;
}
#menu-box{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width:8vw;
    height:5vh;
}

/*banner*/
.banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    height: 30vh;
    margin-top:35px;
    margin-bottom: 40px;; 
}


.img{
    width:80vw;
    height:35vh;
}


/*main*/

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    height: 100vh;
}
.benefit{
    display: flex;
    flex-direction: column;
    width:80vw;
    height:55vh;
    margin-top:50px;
}
.benefit-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid;
    border-radius: 10px;
    width:8vw;
    height: 5vh;
    margin-top:20px;
}
.benefit-main{
    display: flex;
    flex-direction: row;
    width:75vw;
    height:40vh;
}
.benefit-mainbox{
    display: flex;
    flex-direction: column;
    border:1px solid;
    border-radius:20px;
    width:75vw;
    height:30vh;
    margin-top:50px;
    margin-left:70px;
    overflow-y:auto;
    overflow-x:hidden;
    background-color: whitesmoke;
}
.text-box{
    display: flex;
    align-items: center;
    width:75vw;
    height:10vh;
    font-size:1.5vw;
    margin-left:35px;
    padding:15px;

}
.life-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    height:55vh;
    margin-top:100px;
    margin-bottom: 150px;
}
.life-infomain{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:85vw;
    height: 62vh;
}

.life-infobox_mom{
    display: flex;
    flex-direction: row;;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width:85vw;
    height:31vh;
}
.life-infomain_box{
    border:1px solid;
    border-radius: 40px;
    width: 17vw;
    height:28vh;
}
.life-infomain_box:hover{
    width:16vw;
    height: 26vh;
}

.job{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:65vw;
    height:55vh;
    margin-top:100px;
}
/* .job_logo{
    display: flex;
    flex-direction: column;
    border:1px solid;
    width:65vh;
    height:10vh;
} */

.job_banner{
    display: flex;
    align-items: center;
    border:1px solid;
    justify-content: space-around;
    width:80vw;
    height:10.5vh;
    background-color: rgba(0, 100, 255, 1);
    padding:20px;
    margin-bottom:150px;
    color:white;
}
.job_main{
    display: flex;
    width:65vw;
    height:22vh;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
}
.jobmain_box{
    border:1px solid;
    border-radius: 50px;
    width:16vw;
    height: 22vh;
}
.jobfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid;
    width: 65vw;
    height:10vh;
}
/*footer*/
.footer_box{
    border:1px solid;
    width:65vw;
    height:8vh;
    margin-top:80px;
    font-size:1.3vw;
    background-color:rgba(0, 100, 255, 1);
    color:white;
}
.footer_box:hover{
    font-size:1vw;
}