*{
    margin:0;
    padding:0;
}
.mom{
    display: flex;
    flex-direction: column;
    width:100vw;
    height: 100vh;
    align-items: center;
}
h1{
    /* font-family: serif; */
    color:rgba(32, 38, 50, 1)
}
h2{
    color:rgba(0, 100, 255, 1);
}
#href{
    text-decoration: none;
    color:black;
}
#hreflogo{
    text-decoration: none;
    color:rgba(0, 100, 255, 1);
}
#href:hover{
    color:rgba(0, 100, 255, 1);
}
h4{
    color:#888;
    margin-bottom: 40px;
}
/*head*/
.head{
    display:flex;
    flex-direction: column;
    align-items: start;
    width:100vw;
    height: 20vh;
}
#box1{
    font-size:1.3vw;
    width:95vw;
    height:7vh;
    margin-left:50px;
}
#box2{
    font-size:1.3vw;
    width:55vw;
    height:7vh;
    margin-top:15px;
}
.logobox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    margin-top:31px;
    width:14vw;
    height:20vh;
}

.btn-boxmom{
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 5vh;
}
#btn-box{
    display: flex;
    align-items: center;
    width:8vw;
    height: 5vh;
}
.menubar{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.menu_img{
    width:2vw;
    height: 2vw;
}
#menu-box{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width:8vw;
    height:5vh;
}

/*banner*/
.banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    height: 30vh;
    margin-top:50px;
    margin-bottom:150px;
}


.img{
    width:80vw;
    height:35vh;
}


/*main*/

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    height: 100vh;
}
.benefit{
    display: flex;
    flex-direction: column;
    width:80vw;
    height:55vh;
    margin-bottom:300px;
}
.benefit-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid;
    border-radius: 10px;
    width:8vw;
    height: 5vh;
}
.benefit-main{
    display: flex;
    flex-direction: row;
    width:75vw;
    height:40vh;
}
.benefit-mainbox{
    display: flex;
    flex-direction: column;
    box-shadow:5px 10px 25px 10px rgb(245, 245, 245);
    border-radius:20px;
    width:75vw;
    height:42vh;
    margin-left:70px;
    overflow-y:auto;
    overflow-x:hidden;
}
.text-box{
    display: flex;
    align-items: center;
    width:75vw;
    height:10vh;
    font-size:1.5vw;
    margin-left:35px;
    padding:15px;

}
.life-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    height:100vh;
    margin-bottom:250px;
}
.life-infomain{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:85vw;
    height: 62vh;
}

.life-infobox_mom{
    display: flex;
    flex-direction: row;;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width:85vw;
    height:31vh;
}
.life-infomain_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17vw;
    height:28vh;
}
.life-infomain_box img {
    width: 8.5vw;
    height: 8.5vw;
}
.life-infomain_box p {
    margin-top: 1vw;
    font-size: 1.4vw;
    font-weight: 600;
}

.life-infomain_box img:hover{
    width: 9vw;
    height: 9vw;
}

.job{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100vw;
    height:250vh;

}
/* .job_logo{
    display: flex;
    flex-direction: column;
    border:1px solid;
    width:65vh;
    height:10vh;
} */

.job_banner{
    display: flex;
    align-items: center;
    border:1px solid;
    justify-content: space-around;
    width:80vw;
    height:20vh;
    background-color: rgba(0, 100, 255, 1);;
    color:white;
    margin-bottom:60px;
}
.job_main{
    display: flex;
    width:100vw;
    height:100vh;
    flex-direction: column;
}
.jobmainbox_wrap{
    display:flex;
    justify-content: center;
    flex-direction: row;
    width:100vw;
    height:56vh;
    margin:45px;
}
.jobmain_box{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    border-radius:35px;
    /* border:1px solid;   */
    box-shadow:5px 10px 25px 10px rgb(245, 245, 245);
    width:32vw;
    height: 56vh;
    padding:20px;  
    margin-right:50px;
}
#job_text{
    display: flex;
    align-items: center;
    color:black;
    margin-left:20px;
    font-size:1vw;
}
.job_caption{
    display: flex;
    justify-content:center;
    color:#888;
    width:100%;
    height:10%;
}
.job_maintext{
    display: flex;
    flex-direction: column;
    font-size:1.2vw;
    color:black;
    width:100%;
    height:40%;
    padding:30px;
}
.job_footertext{
    width:100%;
    height:10%;

}
.jobfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid;
    width: 65vw;
    height:10vh;
}
/*footer*/

.footer_box:hover{
    font-size:1vw;
}
.footer{
    border:1px solid;
    width:100vw;
    height:30vh;
    background-color:rgba(32, 38, 50, 1);
    margin-top:350px;
}
.footer_logo{
    display: flex;
    align-items: end;
    width:100vw;
    height:15vh;
}
.information{
    display: flex;
    align-items: end;
    color:white;
    width:100vw;
    height: 15vh;
}